.tflEntry {
  margin: 5px;
  padding: 2px;
  color: yellow;
  background-color: black;
  text-shadow: yellow 0 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: x-large;
}

.tflEntry * {
  margin: 0;
}
