name: Test on PR creation

on:
  pull_request:
  push:
    branches: ["**"]

jobs:
  test:
    runs-on: self-hosted
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build and test
        run: |
          docker compose pull || true
          docker compose run test

      - name: Prune unused docker data
        run: docker system prune -f
